  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
      <h1>A Warm Welcome!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <p><a class="btn btn-primary btn-large">Call to action!</a>
      </p>
  </header>

  <hr>

  <!-- Title -->
  <div class="row">
      <div class="col-lg-12">
          <h3>Latest Features</h3>
      </div>
  </div>
  <!-- /.row -->
<div class="row text-center">
  <% @cars.each do | car | %>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <%= image_tag "car_#{rand(1...7)}.jpeg"  %>
            <div class="caption">
                <h3><%= "#{car.price} euros" %></h3>
                <h3><%= "#{car.brand}, #{car.name}, #{car.price}" %></h3>
                <p><%= "#{car.year} #{car.engine} #{car.color} " %></p>
                <p>
                  <% if current_user %>
                    <%= form_tag buy_car_path(car) do %>
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_umZbkFDV0vblJJX97EuGm9Su"
                        data-name="<%= "#{car.brand} #{car.name}" %>"
                        data-currency="eur"
                        data-amount="<%= car.price * 100 %>"
                        data-locale="auto">
                      </script>
                      <%= hidden_field_tag 'price', "#{car.price}" %>
                    <%end%>
                  <%else%>
                    <p>To buy the car you need to login</p>
                  <%end%>

                </p>
            </div>
        </div>
    </div>
  <% end %>
</div>

